.form {
  width: 100%;
  display: flex;
  padding: 1.4rem 1.2rem;
  background-color: var(--color-bg-2);
}

.input {
  flex: 1 0 auto;
  font-size: 1.4rem;
  padding: 0.7rem 1rem;
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
  border: none;
  outline: none;
}

.button {
  background-color: var(--color-accent);
  color: whitesmoke;
  font-size: 1.4rem;
  padding: 0 2rem;
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}

.button:hover {
  filter: brightness(130%);
}
