.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-2);
  border-bottom: 1px solid var(--color-bg-3);
}

.list {
  display: flex;
}

.button {
  margin: 0 0.7rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  background-color: transparent;
  color: white;
  font-weight: bold;
  opacity: 0.8;
}

.button:hover,
.button.selected {
  opacity: 1;
  scale: 1.15;
}

.button.selected::after {
  display: block;
  content: "";
  border: 1px solid var(--color-text);
  margin-top: 0.2rem;
}
