.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.1rem 0;
  color: var(--color-text);
}

.checkbox {
  width: 1.3rem;
  height: 1.3rem;
}

.text {
  flex: 1 1 0%;
  margin-left: 0.8rem;
  font-size: 1.3rem;
}

.icon {
  width: 26px;
  height: 26px;
  background-color: var(--color-grey);
  border-radius: 100%;
  transition: all 150ms ease-out;
}

.icon:hover {
  background-color: var(--color-accent);
  /* transform: scale(1.25); */
}

.icon:active {
  background-color: var(--color-accent);
  transform: rotate(15deg) scale(1.25);
}

.button {
  background-color: transparent;
  color: var(--color-accent);
  padding-top: 0.4rem;
  padding-left: 0.4rem;
}

.button:hover,
.button:active {
  color: whitesmoke;
}

.comp {
  text-decoration: line-through;
}
